<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <title><%= [yield(:title), 'Linked List'].compact.join(' - ') %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%#= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="bottom-gap">
      <form method="get" id="search" class="right" action="https://duckduckgo.com/">
        <input type="hidden" name="sites" value="linkedlist.org"/>
        <input type="hidden" name="kz" value="-1"/>
        <input type="hidden" name="kaf" value="1"/>
        <input type="text" name="q" maxlength="255" placeholder="Search" autocapitalize="off" autocomplete="off" />
        <input type="submit" value="Search" />
      </form>

      <h1 class="no-margin"><%= link_to "Linked List", root_path, :class => 'no-decoration' %></h1>
      <nav class="list-flat list-spaced-left right">
        <li><%= link_to 'Index', pages_path %></li>
        <li><%= link_to 'Tags', tags_path %></li>
      </nav>
      <p class="no-margin-top lighten">A personal knowledge base</p>
    </header>

    <%= yield %>

    <footer class="top-gap smaller-font">
      <% copyright = 2015..Date.today.year %>
      <p class="copyright">
        Copyright &copy;
        <%= [copyright.min, copyright.max].uniq.join(' &ndash; ').html_safe %>
        <%= link_to 'Wesley Moore', 'http://www.wezm.net/' %>
        &mdash;
        <%= link_to 'wezm', 'https://twitter.com/wezm' %>
      </p>
    </footer>
  </body>
</html>
